/*
Basic start for a webpage (get rid of some default values)
*/

/* The following variables makes easier to keep a homogeneous approach */
:root{
    /* Colors */
    --clr-accent: #006270;
    --clr-bck: #3b3a3a;
    --clr-darkgrey: #333;
    --clr-green: #0C8054;
    --clr-lightgray: #ddd;
    --clr-lightorange: #F3603C;
    --clr-white: #efefef;
    /* Variables for all page */
    --clr-body: #d8dbdd;
    --clr-light: #F9F7F0;
    --clr-blue-lig: #18B7BE;
    --clr-blue-med: #178CA4;
    --clr-blue-fade: #6c9aa3;
    --clr-blue-dark: #072A40;
    /* Responsive webpage */
    --width-elements: min(100% - 1rem, 90vw);
    /* Others */
    --border-round: 10px;
}

/* Remove items by https://piccalil.li/blog/a-modern-css-reset*/
/* Box sizing */
*, *::before, *::after{
    box-sizing: border-box;
}
/* Remove margins */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

a {
    text-decoration: none;
}

  /* Main body  --------------------------------------------------*/
  html, body {
      background: var(--clr-body);
      color: var(--clr-blue-dark);
      font-family: basic-sans, Sans-Serif;
      font-size: 1.12em; /*em	Relative to the font-size of the element (2em means 2 times the size of the current font)*/
      height: 100%;
      line-height: 1.5;
      min-height: 100vh; /*vh	Relative to 1% of the height of the viewport==browser size**/
      text-size-adjust: none;
      text-rendering: optimizeSpeed;
      -webkit-text-size-adjust: none;
      -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
  }

  /* Default definition of fonts in the page */
  p, dt, .light_fonts {
      margin: .5em 0 .5em 0;
  }

  /* Color for light fonts */
  .light_fonts{
      color: var(--clr-light);
  }


  /* Title is used for headers */
  .title {
      color: var(--title-color, var(--clr-darkgrey));
      font-size: var(--title-size, 2.5rem); /*rem	Relative to font-size of the root element*/
      line-height: 1;
      margin: 0 0 .15em; /*top right bottom*/
  }

  .title_center {
      color: var(--title-color_c, var(--clr-darkgrey));
      font-size: var(--title-size_c, 2.5rem); /*rem	Relative to font-size of the root element*/
      line-height: 1;
      margin: 0 0 .15em; /*top right bottom*/
      text-align: center;
  }

  /*Standard for links*/
  a:link {
      color: var(--clr-white);
  }
  /* Change configuration when the link is visited. */
  a:visited {
    color: pink;
    background-color: transparent;
  }

  a:hover {
    color: var(--clr-accent);
    cursor: pointer; /* Change the cursor when over the button. */
    background-color: transparent;
  }

  /* Change configuration when the link is active. */
  a:active {
    color: var(--clr-lightorange);
    background-color: transparent;
  }

  /* Container with black background */
  .container{
      background: var(--clr-blue-med);
      border-radius: var(--border-round); /* Smooth corners */
      padding: 0.5em 2em/*calc(.5em + 1vw)*/;
      width: var(--width-elements);
      margin-inline: auto;
      /*width: 80vw;
      margin: 1em auto;*/ /*Center block after set width*/
      --title-color: var(--clr-light);
  }

/* Experience page*/
.container-experience{
    background: var(--clr-light);
    border-radius: var(--border-round); /* Smooth corners */
    padding: 0.5em 2em/*calc(.5em + 1vw)*/;
    width: var(--width-elements);
    margin-inline: auto;
    /*width: 80vw;
    margin: 1em auto;*/ /*Center block after set width*/
    --title-color: var(--clr-blue-dark);
}

/* About me page */
.container-about{
    background: var(--clr-light);
    border-radius: var(--border-round); /* Smooth corners */
    padding: 0.5em 2em/*calc(.5em + 1vw)*/;
    width: var(--width-elements);
    margin-inline: auto;
    /*width: 80vw;
    margin: 1em auto;*/ /*Center block after set width*/
    --title-color: var(--clr-blue-dark);
}
.container-about p {
    color: var(--clr-blue-dark);
}

.container-lightblue{
    background: var(--clr-blue-lig);
    border-radius: var(--border-round);
    display: grid;
    /*Auto order the grid based on screen*/
    grid: auto / repeat(auto-fit, minmax(250px, 1fr)); /*fr = fraction*/
    /*Gap between members in the grid*/
    grid-gap: 1em;
    padding: calc(.5em + 1vw);
    width: 80vw; margin: 1em auto; /* Center it */
}

  /* Education block -------------------------------------------------- */

  .container-education{
      background: var(--clr-blue-med);
      border-radius: var(--border-round);
      color: var(--clr-white);
      padding: 2em 2vw;
      --title-color_c: var(--clr-lightgray);
  }

  .list_tick{
      color: var(--clr-white);
      display: block;
      list-style: none;
      text-align: left;
  }
  /* Definitions for members li inside list_tick */
  .list_tick li {
      margin: 0 0 .5em 0;
  }

  .list_tick li:before{
      color: var(--clr-white);
      display: inline-block;
      margin: .5em 0 0 0;
      font-size: .8em;
      font-weight: 900;
  }

  /* Courses block -------------------------------------------------- */
.container-courses{
    background: var(--clr-blue-dark);
    border-radius: var(--border-round); /* Smooth corners */
    display: grid;
    /*Auto order the grid based on screen*/
    grid: auto / repeat(auto-fit, minmax(250px, 1fr)); /*fr = fraction*/
    /*Gap between members in the grid*/
    grid-gap: 1em;
    padding: calc(.5em + 1vw);
    width: 80vw; margin:0 auto; /*Center block after set width*/
    --title-color: var(--clr-green); /* Only apply to header inside this container */
    --title-size: 1.5rem;
}

.sub-container-courses{
    background: var(--clr-blue-med);
    border-radius: var(--border-round);
    color: var(--clr-white);
    padding: 2em 2vw;
    --title-color_c: var(--clr-lightgray);
}

.sub-container-courses.title {
    grid-column: 1;
    grid-row: 1;
}
.sub-container-courses.items {
    grid-column: 1;
    grid-row: 2;
}

.tab-content ul {
    color: var(--clr-white);
    list-style-position: inside;
    margin: .5em 0 .5em 0;
}

.tab-content li {
    color: var(--clr-white);
}

/* Code for multiple selection in training courses and certifications*/
.courses-navigation {
    background-color: var(--clr-light);
    border-radius: 5px;
    list-style: none;
    margin-bottom: 0;
    overflow: hidden;
    padding-left: 0; /* Override default ul/ol */
    text-decoration: none;
}
.courses-navigation a {
    border-radius: 5px;
    color: var(--clr-blue-dark);
    float: left;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
.courses-navigation a:hover{
    background-color: var(--clr-darkgrey);
    color: var(--clr-blue-lig);
}
/* Get rid of link's underline*/
.courses-navigation a:link,
 .courses-navigation a:hover,
  .courses-navigation a:active,
   .courses-navigation a:visited {
    text-decoration: none;
}

.tab-content {
    display: grid;
}

.target.selected {
    background-color: var(--clr-darkgrey);
    color: var(--clr-blue-lig);
}

/*Fade contents for all courses
This is used in conjunction with JS to hide and unhidden the
contents in the courses section. */
.tab-pane {
    grid-column: 1;
    grid-row: 1;
    opacity: 0; /* 0 means not visible, 1 means visible. */
    transition: all 0.5s; /* Add a smooth effect during transition. */
}

.tab-pane.visible {
    opacity:1;
}

/* Navigation bars -------------------------------------------------- */
/* Top menu navigation bar*/

.navbar { /* Container of full bar */
    display: flex;
    align-items: center;
    justify-content: center; /* Distribute in line */
    padding: 10px;
    background-color: var(--clr-blue-med);
    color: azure;  /* Color of text */
}
/* Get rid of bullets in list only under navbar */
.navbar li {
    list-style: none;
}
.nav-links a {
    color: azure;
}

/* Navbar links (menu) */
.nav-menu {
    display: flex;
    gap: 1em; /* Add space between members */
    font-size: 18px;
}
/* Hover effect */
.nav-menu li:hover{
    background-color: var(--clr-blue-fade);
    border-radius: 5px; /* Use rounded borders */
    transition: 0.3 ease; /* 0.3 ease type transition (fast-slow-fast) */
}

.nav-menu li {
    padding: 5px 14px;
}
/* For mobile devices ---------*/
input[type=checkbox] {
    display: none; /* Make checkbox vanish*/
}
.hamburger {
    display: none;
    font-size: 24px;
    user-select: none; /* User cannot select */
}
.hamburger:hover {
    cursor: pointer;
}


/* Queries */
@media (max-width: 768px) {
    /*Only for smaller than 768px*/
    .nav-menu {
        display: none;
        position: absolute;
        background-color: var(--clr-blue-med);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .nav-menu li:hover {
        display: inline-block;
        background-color: var(--clr-blue-fade);
        transition: 0.3 ease;
    }
    .nav-menu li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .nav-menu {
        display: block;
    }
    .hamburger {
        display: block;
    }
} /* END MEDIA MAX-WIDTH 768px*/


/*Standard for links*/

/* Button(s) */
.backButton{
    display: grid;
    padding: calc(.5em + 1vw);
    width: 20vw; margin:0 auto; /*Center block after set width*/
}

/* Normal button, effect scale -------------- */
.button {
    background: var(--clr-blue-dark);
    border: 0;
    border-radius: 2em;
    color: var(--clr-white);
    cursor: pointer; /* Change the cursor when over the button. */
    font-size: calc(var(--button-scale) * 1rem);
    padding: .5em 1.25em;
    transition: transform 100ms; /*Used for simple effect when hovering*/
}

/*Add effect to the button; it will looks like the button expands on hover. */
.button:hover {
transform: scale(1.1);
}

/* Button, Glow effect ----------------- */
@keyframes glow { /* Add glow animation */
    0% {
        box-shadow: 0 0 0 0 var(--clr-blue-dark);
    }
    50% {
        box-shadow: 0 0 20px 0 var(--clr-blue-dark); /* High pixels higher glow */
    }
}
.button-glowing {
    /* Custom properties */
    --glowingackground: var(--clr-blue-lig);
    --glowingorder-color: var(--clr-blue-lig);/*linear-gradient(to bottom right, red, blue)*/;
    --glowingorder-width: .5em; /* Scalable, will modify the borders' width */
    --edge-size: .5em; /* How cut the corners will be (radius) */
    /* Style */
    position: relative;
    isolation: isolate;
    border: 0;
    border-radius: var(--border-round);
    box-shadow: var(--clr-blue-med);
    background: var(--glowingackground);
    color: var(--clr-white);
    cursor: pointer; /* Change the cursor when over the button. */
    font-size: calc(var(--button-scale) * 1rem);
    padding: .5em 1.25em;
    animation: glow 1.4s linear infinite;
}

.button-glowing:where(:hover, :focus) {
    background: var(--clr-blue-dark);  /* Color when the transition is over (after focus)*/
}


  /* Images and footer */
  /* --------- FOOTER --------- */
  /* Format of the footer */

  footer {
      position: fixed;
      text-align: center;
      background-color: var(--clr-blue-med);
      padding: 0.2em;
      bottom: 0px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      color: var(--clr-light);
      /* border: 1px solid var(--clr-darkgrey);
      border-radius: 10px; */
  }
  footer img {
      width: 25px;
      height: 25px;
      margin-right: 25px;
  }

  /* Get rid of link's underline*/
  footer a:link, footer a:hover, footer a:active, footer a:visited {
      text-decoration: none;
  }

  .container-images {
      margin-top: 0.5em;
  }

  /* FOOTER */


/* Backup code
Old navigational bar
  .nav-menu {
        background-color: var(--clr-blue-med);
        overflow: hidden;
        position: fixed;  /* Sticky bar *//*
        width: 100vw;
    }

  .nav-menu a {
      color: var(--clr-blue-dark);
      float: left;
      text-align: center;
      text-decoration: none;
      padding: 14px 16px;
      border-radius: 2em;
  }
  .nav-menu a:hover{
      background-color: var(--clr-darkgrey);
      color: var(--clr-blue-lig);
  }

  /* Get rid of link's underline
  .nav-menu a:link, .nav-menu a:hover, .nav-menu a:active, .nav-menu a:visited {
      text-decoration: none;
  }

  .nav-menu ul,
  .nav-menu li {
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
  }
*/