/*
Comments from w3schools (additional information and explanations about items like vh, em...
*/

:root{
  --clr-white: #efefef;
  --clr-lightgray: #ddd;
  --clr-darkgrey: #333;
  --clr-accent: #006270;
  --clr-ligthorange: #F3603C;
  --clr-green: #0C8054;
  --clr-bck: #3b3a3a;

  --icon-check: "\f00c";
}

/* Remove items by https://piccalil.li/blog/a-modern-css-reset*/
/* Box sizing */
*, *::before, *::after{
    box-sizing: border-box;
}
/* Remove margins */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Main body  --------------------------------------------------*/
html, body {
    height: 100%;
    min-height: 100vh; /*vh	Relative to 1% of the height of the viewport==browser size**/
    font-size: 1.12em; /*em	Relative to the font-size of the element (2em means 2 times the size of the current font)*/
    color: var(--clr-darkgrey);
    background: var(--clr-bck); /*FFFAFA;*/
    font-famlily: basic-sans, Sans-Serif;
    text-size-adjust: none;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

footer {
  margin-top: 1em;
  background-color: #333;
  padding: 10px 10px;
}

p, dt, .light_fonts {
    margin: .5em 0 .5em 0;
}

.light_fonts{
    color: var(--clr-white);
}

.title {
    font-size: var(--title-size, 2.5rem); /*rem	Relative to font-size of the root element*/
    font-weigth: 500;
    color: var(--title-color, var(--clr-darkgrey));
    margin: 0 0 .15em; /*top right bottom*/
    line-height: 1;
}
.title_center {
    font-size: var(--title-size_c, 2.5rem); /*rem	Relative to font-size of the root element*/
    font-weigth: 500;
    color: var(--title-color_c, var(--clr-darkgrey));
    margin: 0 0 .15em; /*top right bottom*/
    line-height: 1;
    text-align: center;
}


.container-darkgrey{
    background: var(--clr-darkgrey);
    width: 80vw; margin: 1em auto; /* Center it */
    padding: calc(.5em + 1vw);
    display: grid;
    /*Gap between members in the grid*/
    grid-gap: 1em;
    /*Auto order the grid based on screen*/
    grid: auto / repeat(auto-fit, minmax(250px, 1fr)); /*fr = fraction*/
    border-radius: 10px;
}

.container-black{
    width: 80vw; margin: 1em auto; /*Center block after set width*/
    padding: 0.5em 2em/*calc(.5em + 1vw)*/;
    --title-color: var(--clr-white);
    background: var(--clr-darkgrey);
    border-radius: 10px;
}

.container-black dl, dt {
    color: var(--clr-white);
}

.container-black-2{
    width: 80vw; margin:0 auto; /*Center block after set width*/
    padding: calc(.5em + 1vw);
    --title-color: var(--clr-green);
    --title-size: 1.5rem;
    background: var(--clr-darkgrey);
    display: grid;
    /*Gap between members in the grid*/
    grid-gap: 1em;
    /*Auto order the grid based on screen*/
    grid: auto / repeat(auto-fit, minmax(250px, 1fr)); /*fr = fraction*/
    border-radius: 10px;
}

.grid-container ul li a.active {
    background: #00b5de;
    color: #fff;
}

/* Education block -------------------------------------------------- */
.sub-container-darkgrey{
    background: var(--clr-darkgrey);
    padding: 2em 2vw;
    --title-color_c: var(--clr-white);
    border-radius: 10px;
}

.sub-container-green{
    background: var(--clr-green);
    padding: 2em 2vw;
    --title-color_c: var(--clr-lightgray);
    color: var(--clr-white);
    border-radius: 10px;
}

.sub-container-grey{
    background: var(--clr-lightgray);
    padding: 2em 2vw;
    --title-color_c: var(--clr-green);
    border-radius: 10px;
}

.sub-container-green.vers-2 {
    grid-column: 1;
    grid-row: 1;
}
.sub-container-green.vers-3 {
    grid-column: 1;
    grid-row: 2;
}

.list_tick{
    text-align: left;
    list-style: none;
    color: var(--clr-white);
    display: block;
}

.list_tick li {
    margin: 0 0 .5em 0;
}
.list_tick li:before{
    color: var(--clr-white);
    font-weight: 900;
    font-size: .8em;
    float: left;
    margin: .5em 0 0 0;
    display: inline-block;
}

/*Progress bars -- Languages*/
.progress{
    width: 200px;
    height: 20px;
    background: var(--clr-white);
    border-radius: 10px;
    padding: 3px;
    position: relative;
    overflow: hidden;
}
.progress_langA{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    transition: all 1s;
    background: #116609;
}
.progress_langB{
    width: 95%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.4s;
    background: #1e52a6;
}
.progress_langC{
    width: 20%;
    height: 100%;
    border-radius: 10px;
    transition: all 0.4s;
    background: #f27011;
}

/* Fade on scroll WIP */
/*.experience {
    animation: fadeIn 5s;
    -webkit-animation: fadeIn 5s;
    -moz-animation: fadeIn 5s;
    -o-animation: fadeIn 5s;
    -ms-animation: fadeIn 5s;
}
@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}*/

/* Training block -------------------------------------------------- */

.tab-content ul {
    color: var(--clr-white);
    list-style-position: inside;
    margin: .5em 0 .5em 0;
}

.tab-content li {
    color: var(--clr-white);
}

/* Top menu navigation bar*/
.nav-menu {
    position: relative;
    background-color: #333;
    overflow: hidden;
}
.nav-menu a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-menu a:hover{
    background-color: var(--clr-lightgray);
    color: black;
}
.nav-menu a.active {
    background-color: green;
    color: var(--clr-white);
}
.nav-menu {
    float: center;
}

/* Code for tabs and navs from w3schools (adapted)*/
.nav {
    padding-left: 0; // Override default ul/ol
    margin-bottom: 0;
    background-color: #333;
    overflow: hidden;
    list-style: none;
    border-radius: 5px;
    text-decoration: none;
}
.nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    text-color: black;
    border-radius: 5px;
}
.nav a:hover{
    background-color: var(--clr-lightgray);
    color: black;
}
/* Get rid of link's underline*/
.nav a:link, .nav a:hover, .nav a:active, .nav a:visited {
    text-decoration: none;
}
/*.nav a.active, .nav a:active {
    background-color: green;
    color: var(--clr-white);
}*/
.nav a.visited {
    color: var(--clr-white);
}

.tab-content {
    display: grid;
}

/*Fade contents for all browsers*/
.tab-pane {
    opacity: 0;
    transition: all 0.5s;
    grid-column: 1;
    grid-row: 1;
}

.tab-pane.visible {
    opacity:1;
}

/* Contact details --------------------------------------------------*/

/*Standard for links*/
a:link {
    color: var(--clr-white);
}
a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: var(--clr-accent);
  background-color: transparent;
  text-decoration: underline;
  cursor: pointer;
}

a:active {
  color: var(--clr-ligthorange);
  background-color: transparent;
  text-decoration: underline;
}

/* Button(s) */
.backButton{
    width: 20vw; margin:0 auto; /*Center block after set width*/
    padding: calc(.5em + 1vw);
    display: grid;
    /*Gap between members in the grid*/
    grid-gap: 0;
}

.button {
    background: var(--clr-ligthorange);
    color: var(--clr-white);
    font-size: calc(var(--button-scale) * 1rem);
    padding: .5em 1.25em;
    border: 0;
    border-radius: 2em;
    cursor: pointer;
    transition: transform 100ms;
}

.button:hover {
  transform: scale(1.1);
}