:root{
    /* Colors */
    --clr-darkgrey: #333;
    --clr-blue-fade: #6c9aa3;
    --clr-blue-dark: #072A40;
    --clr-bg-white: #f8f9fa;
}

body {
    background-color: light;
    min-height: 100dvh; /*vh	Relative to 1% of the height of the viewport==browser size**/
}

/* ====== Background images formats based on section ====== */
.bck-images {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
}

.welcome {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/pexels-felix-mittermeier-957002_welcome.jpg');
}

.tech {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/pexels_593322_tech.jpg');
}

.notes {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/pexels_733857_notes.jpg');
}

.gadgets {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/pexels_583848_gadgets.jpg');
}

.lifestyle {
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/pexels_547114_lifestyle.jpg');
}
/* END of background images */

/* Images responsive sequence of shaking */
.image-shake:hover {
    animation: shake 0.3s;
    animation-iteration-count: infinite;  /* Last as much as needed */
}

@keyframes shake { /* Can be smoother with more % */
    0% { transform: translate(1px, 1px) rotate(0deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* Nav bar */
/* Navigation bars -------------------------------------------------- */
/* Top menu navigation bar*/
a {
    text-decoration: none;
}

.navbar { /* Container of full bar */
    align-items: center;
    justify-content: center; /* Distribute in line */
    display: none;
    padding: 10px;
    background-color: var(--clr-bg-white);
    color: var(--clr-blue-dark);  /* Color of text */
}
/* Get rid of bullets in list only under navbar */
.navbar li {
    list-style: none;
}
.nav-links a {
    color: var(--clr-darkgrey);
}

/* Navbar links (menu) */
.nav-menu-text {
    display: flex;
    gap: 1em; /* Add space between members */
    font-size: 18px;
}
/* Hover effect */
.nav-menu-text li:hover{
    background-color: var(--clr-blue-fade);
    border-radius: 5px; /* Use rounded borders */
    transition: 0.3 ease; /* 0.3 ease type transition (fast-slow-fast) */
}

.nav-menu-text li {
    padding: 5px 14px;
}
/* For mobile devices ---------*/
input[type=checkbox] {
    display: none; /* Make checkbox vanish*/
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none; /* User cannot select */
}
.hamburger:hover {
    cursor: pointer;
}

/* Queries */
@media (max-width: 768px) {
    /*Only for smaller than 768px*/
    .navbar {
        display: flex;
    }
    .nav-menu-icons {
        display: none;
    }
    .nav-menu-text {
        display: none;
        position: absolute;
        background-color: var(--clr-bg-white);
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }
    .nav-menu-text li:hover {
        display: inline-block;
        background-color: var(--clr-blue-fade);
        transition: 0.3 ease;
    }
    .nav-menu-text li + li {
        margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .nav-menu-text {
        display: block;
    }
    .hamburger {
        display: block;
    }
} /* END MEDIA MAX-WIDTH 768px*/